*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(243, 241, 241);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(74, 74, 80);
    padding: 0 20px;
    box-shadow: 0px 25px 25px rgb(0, 0, 0);
    z-index: 4;
    position: relative;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.left{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.s3{
    font-size: 1.7rem;
    color: rgb(247, 71, 40);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
.hub{
    font-size: 1.5rem;
    padding-top: 3px;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    margin-right: 25px;
    justify-content: center;
}
.home{
    color: white;
    font-size: 1.6rem;
    margin-right: 25px;
    text-decoration: none;
}
.home a{
    text-decoration: none;
    color: white;
}
.home a:hover{
    color: rgb(247, 71, 40);
}
.blog{
    color: white;
    font-size: 1.6rem;
    margin-right: 25px;
    text-decoration: none;
}
.blog a{
    text-decoration: none;
    color: white;
}
.blog a:hover{
    color: rgb(247, 71, 40);
}
.right ion-icon{
    color: white;
    font-size: 1.6rem;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 3px;
}
.right a{
    text-decoration: none;
    color: white;
}
.right ion-icon:hover{
    color: rgb(247, 71, 40);
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}
.search input{
    padding: 15px 0;
    /* padding-left: 40px; */
    /* padding-right: 360px;  */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    
}
#sea{
    position: absolute;
    margin-right: 360px;
    margin-top: 5px;
    border-radius: 5px;
}
#see{
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    background-color: white;

}
.left button{
    border: none;
    background-color: white;
}
.search input[type=text]{
    width: 400px;
    padding: 15px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #080808;
    box-sizing: border-box;
    outline: none;
}


.fcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    /* Add the following properties to center the div horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    width: 99%;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 20px;
}

@media (min-width:650px){
    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1080px){
    .courses{
        grid-template-columns: repeat(3, 1fr);
    }
}


.card {
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* Optional: for rounded corners */
    height: 35vw;
    width: 28vw;
    margin-bottom: 10px;
    margin: 0 0 50px 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    filter: grayscale(0.1);
}

.card-img-top {
    height: 40%;
    width: 100%;
    border-radius: 5px 5px 0 0; /* Optional: for rounded corners at the top of the image */
}

.card-body {
    padding: 2px 16px;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    padding-top: 15px;
}
.card-text{
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(46, 46, 46);
    padding: 5px 10px;
    line-height: 1.3;
    height: 180px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Optional: for rounded button corners */
    width: 40%;
    text-decoration: none;
}
.btn-primary a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}
