*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(243, 241, 241);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(74, 74, 80);
    padding: 0 20px;
    box-shadow: 0px 25px 25px rgb(0, 0, 0);
    z-index: 4;
    position: relative;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.left{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.s3{
    font-size: 1.7rem;
    color: rgb(247, 71, 40);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
.hub{
    font-size: 1.5rem;
    padding-top: 3px;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    margin-right: 25px;
    justify-content: center;
}
.home{
    color: white;
    font-size: 1.6rem;
    margin-right: 25px;
    text-decoration: none;
}
.home a{
    text-decoration: none;
    color: white;
}
.home a:hover{
    color: rgb(247, 71, 40);
}
.blog{
    color: white;
    font-size: 1.6rem;
    margin-right: 25px;
    text-decoration: none;
}
.blog a{
    text-decoration: none;
    color: white;
}
.blog a:hover{
    color: rgb(247, 71, 40);
}
.right ion-icon{
    color: white;
    font-size: 1.6rem;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 3px;
}
.right a{
    text-decoration: none;
    color: white;
}
.right ion-icon:hover{
    color: rgb(247, 71, 40);
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}
.search input{
    padding: 15px 0;
    /* padding-left: 40px; */
    /* padding-right: 360px;  */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    
}
#sea{
    position: absolute;
    margin-right: 360px;
    margin-top: 5px;
    border-radius: 5px;
}
#see{
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    background-color: white;

}
.left button{
    border: none;
    background-color: white;
}
.search input[type=text]{
    width: 400px;
    padding: 15px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #080808;
    box-sizing: border-box;
    outline: none;
}