* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(74, 74, 80);
    padding: 0 20px;
    box-shadow: 0px 25px 25px rgb(0, 0, 0);
    z-index: 4;
    position: relative;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.left{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.s3{
    font-size: 1.7rem;
    color: rgb(247, 71, 40);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
.hub{
    font-size: 1.5rem;
    padding-top: 3px;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.home{
    color: white;
    font-size: 1.4rem;
    margin-right: 20px;
    text-decoration: none;
}
.home a{
    text-decoration: none;
    color: white;
}
.home a:hover{
    color: rgb(247, 71, 40);
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 234, 234);
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 234, 234);
}
.row h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    margin: 20px 0;
}
hr{
    position: relative;
    margin-bottom: 30px;
    width: 95vw;
    border: 1px solid rgb(0, 0, 0);
}
.group{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 75vh;
    margin-bottom: 30px;
    background-color: rgba(50, 50, 244, 0.951);
    border: 1px solid rgb(0, 0, 0);
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 70px;
    width: 100%;
}
.form-group h5{
    font-size: 1.5rem;
    color: white;
}
.form-group input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
}
#message{
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
}
#btns{
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    background-color: rgb(247, 71, 40);
    color: white;
}
#btns:hover{
    background-color: rgb(255, 0, 0);
}